.cabecalho{
	width: auto;
	padding: 0.5% 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.cabecalho__titulo{
	color: var(--branco-principal);
	font: 4em var(--font-principal);

}

.menu{
	display: flex;
	gap: 1.25rem;
}

.menu__link > a{
	text-decoration: none;
	color: var(--branco-principal);
	font: 1em var(--font-secundaria);
	border-radius: 12px;
	padding: 5px 12px;
	transition: background-color .5s;
}

.menu__link > a:hover{
	background-color: var(--branco-principal);
	color: black;	
}
