@import url("ancora.css");

.container{
  height: 80vh;
  color: var(--cor-principal);
}

.container__titule{
  padding: 15px;
  background-color: #1B4242;
  border-radius: 50px;
  font: italic 500 1.66em var(--fonte-secundario);
}

.project > img{
  position: relative;
}

.project__links {
  position: relative;
  top: -25px;
  left: -300px;
}

