@import url('componets.css/ancora.css');
@import url('componets.css/cabeçalho.css');
@import url('componets.css/rodape.css');

body{
  background-color: var(--background);
}

.container{
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  margin: 1.5%;
  height: 65vh;
}

.container__apresentacao{
  /* margin: 0 7%; */
  width: 50%;
  height: 50vh;
}

.apresentacao__titulo{  
  font: 800 2.5em var(--font-terciaria);
  color: var(--verde-primario);
  text-align: justify;
  /* width: 50%; */
}

.titulo__destaque{ color: var(--verde-secundario); }

.apresentacao__texto{
  box-sizing: border-box;
  font: 1.5em var(--font-terciaria);
  color: var(--branco-secundario);
  height: auto;
}

.container__imagem{
  text-align: center;
  height: auto;
}
.imagem__photo{
  border-radius: 50%;
  transition: border-radius 0.75s;
}

.imagem__photo:hover{
  border-radius: 5%;
}

.imagem__description{
  margin-top: 12px;
  color: var(--branco-secundario);
  font: 400 0.75em var(--font-secundaria);
}
/* configuração do About */

