@import url('https://fonts.googleapis.com/css2?family=Asap:ital@1&family=Ranga&family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,800&display=swap');
:root {
  /* Cores pricipais a se usar */
  --cor-principal: #F6F6F6;
  --cor-secundaria: #5C8374;
  --cor-terciaria: #9EC8B9;

  /* Fontes nas quais se vai usar */
  --fonte-principal: 'Ranga', cursive;
  --fonte-secundario: 'Roboto Flex', sans-serif;
  --fonte-terciario: 'Asap', sans-serif;

  /* Tamanho da fonte no documento todo */
  font-size: 24px;
}


/* Conteudo do texto de apresentação do meu arquivo principal
-------------------------------------------------------------- */
.container{
  margin: 3% 15%;
}

.conteudo{
  display: flex;
  justify-content: space-around;
  gap: 8%;
}
.conteudo__apresentacao{
  width: 555px;
  color: var(--cor-principal);
}

.conteudo__apresentacao > h2{
  color: var(--cor-terciaria);
  font-family: var(--fonte-secundario);
  font-weight: 800;
  text-align: justify;
  font-size: 2em;
}
.conteudo__text__destaq{
  color: var(--cor-secundaria);
}

.conteudo__apresentacao > p{
  font-size: 1.5em;
  font-family: var(--fonte-terciario);
}

/* Configuração da imagem e animação
--------------------------------------------- */
.conteudo__img {
  margin: auto 0;
  height: 20rem;
  border-radius: 270px;
  transition: .2s;
}

.conteudo__img:hover {
  border-radius: 4%;
  transition: .5s;
}
